@model IEnumerable<databaseAPI.Model.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Brookings Medical Center Doctors</h1>

<div class="justify-content-center">
    <a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" asp-action="Create">Add New Doctor</a>
</div>



<div class="container-fluid bg-light">
    <div class="row border-bottom border-dark">
        <div class="col">
            @Html.DisplayNameFor(model => model.DoctorId)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.DoctorName)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Specialty)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Department)
        </div>
        <div class="col"></div>
    </div>

    @foreach (var item in Model)
    {
        <div class="row border-secondary border-bottom" >
            <div class="col">
                @Html.DisplayFor(modelItem => item.DoctorId)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.DoctorName)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Specialty)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Department)
            </div>
            <div class="col">
                <a asp-action="Edit" asp-route-id="@item.DoctorId.ToString()">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DoctorId.ToString()">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DoctorId.ToString()">Delete</a>
            </div>
        </div>
    }   
</div>
